.btn__reset {
    padding: 1rem 3rem;
    font-size: 2rem;
    border: 1px solid #616161;
    border-radius: 1rem;
    box-sizing: border-box;
    margin: 1rem 0;
    @include media-desktop {
        font-size: 1.8rem;
    }
    @include media-tablet {
        font-size: 1.5rem;
    }
}
