html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
}

#wrapper {
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: auto;
    grid-template-areas:
        'header header header'
        'tools tools tools'
        'filter main basket'
        'footer footer footer';
    @include media-desktop {
        grid-template-columns: 25vw 1fr 30vw;
    }
    @include media-tablet {
        grid-template-columns: 25vw 1fr 25vw;
    }
}

.hidden {
    display: none !important;
}

.fix {
    overflow: hidden;
    padding-right: 17px;
}

.veil__darken {
    background: rgba(41, 41, 41, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    cursor: pointer;
}

.warning {
    background-color: #f1f1f1;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 35%;
    z-index: 10;
    display: flex;
    justify-content: center;
    @include media-tablet {
        height: 30%;
    }
}

.warning__cross {
    background-image: url(./assets/icons/crossForModal.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    right: 0;
    position: absolute;
    cursor: pointer;
    border: 0;
}

.warning__info {
    font-size: 4rem;
    font-weight: 700;
    align-self: center;
    @include media-tablet {
        font-size: 3rem;
    }
}
