#basket {
    grid-area: basket;
    height: 100%;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.basket-header {
    font-size: 4rem;
    margin: 0.5em 0;
    text-align: center;
}
.basket-warning {
    font-size: 3rem;
}

.basket__container {
}
