.basket {
    grid-area: basket;
    text-align: center;

    &-wrapper {
        position: sticky;
        max-height: 100vh;
        top: 0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    &-header {
        font-size: 4rem;
        padding: 3rem 2rem 0;
        margin: 0 0 2rem;
    }

    &-counter {
        font-size: 4rem;
        padding: 0 2rem;
        margin: 2rem 0;
    }

    &-warning {
        font-size: 3rem;
        padding: 0 2rem;
    }

    &__container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding: 0 2rem;

        &-book {
            margin: 2rem 0;
            display: flex;

            &_remove {
                width: 3rem;
                height: 3rem;
                background-image: url(./assets/icons/cross.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                cursor: pointer;
                align-self: center;
                border: 0;
                background-color: transparent;
            }

            &_name {
                width: 100%;
                padding-left: 1rem;
                font-size: 2rem;
                text-align: start;
            }
        }
    }
}
