.filter {
    grid-area: filter;
    height: fit-content;
    padding: 3rem 3rem;
    box-sizing: border-box;
    text-align: center;
    position: sticky;
    top: 0;
    @include media-desktop {
        padding: 2rem 2.5rem;
    }
    @include media-tablet {
        padding: 2rem 2rem;
    }
}

.filter__range-container,
.filter__rating-container,
.filter__price-container {
    margin-bottom: 4rem;
    @include media-desktop {
        margin-bottom: 3rem;
    }
}

.filter__range,
.filter__value {
    width: 100%;
    height: auto;
}

.range-info,
.rating-info,
.price-info {
    font-size: 2rem;
    margin-bottom: 5rem;
    margin-top: 0;
    @include media-desktop {
        font-size: 1.8rem;
    }
    @include media-tablet {
        font-size: 1.5rem;
        margin-bottom: 4rem;
    }
}

.filter__range-amount,
.filter__range-age,
.rating-range,
.price-range {
    margin: 1.8rem;
    font-size: 1.7rem;
    @include media-desktop {
        font-size: 1.5rem;
    }
    @include media-tablet {
        font-size: 1.2rem;
    }
}

.filter__genre-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2rem;
    @include media-desktop {
        font-size: 1.8rem;
    }
    @include media-tablet {
        font-size: 1.5rem;
    }
}

.genre-container__info {
    width: 100%;
    margin: 0;
}

.genre-container {
    display: flex;
}

.genre-info {
    margin-right: 1rem;
}

.genre-checkbox {
    width: 2rem;
}
