#footer {
    display: flex;
    justify-content: space-between;
    grid-area: footer;
    background-color: #23817a;
    padding: 1rem 2rem;
    color: white;
}

.footer__info {
    align-self: center;
    font-size: 2rem;
    @include media-tablet {
        font-size: 1.8rem;
    }
}

.footer__autor {
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.footer__icon {
    width: 15rem;
    min-height: 5rem;
    background-image: url(https://rs.school/images/rs_school_js.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-indent: -9000px;
    overflow: hidden;
}
