.header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    padding: 1rem 2rem;
    gap: 5rem;
}

.header__content {
    align-self: center;
    max-width: 70%;
}

.header__greetings {
    font-size: 4rem;
    margin: 0.5rem 0;
    @include media-desktop {
        font-size: 3rem;
    }
}

.header__info {
    align-self: center;
    text-align: justify;
    font-size: 2.4rem;
    margin: 0;
    @include media-desktop {
        font-size: 1.9rem;
    }
}

.header__img {
    object-fit: contain;
    width: 20%;
    height: auto;
    @include media-desktop {
        width: 15%;
    }
}
