#header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    border: 1px solid red;
    padding: 1em 2em;
    gap: 5em;
}

.header__content {
    align-self: center;
}

.header__greetings {
    font-size: 6rem;
    margin: 0.5em 0;
}

.header__info {
    align-self: center;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 3.4rem;
    margin: 0;
}

.header__img {
    object-fit: contain;
    width: 40%;
    height: auto;
}
