.tools {
    grid-area: tools;
    padding: 1.5rem 1rem;
    display: grid;
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-areas: '. input sort';
    background-color: #23817a;
    @include media-desktop {
        grid-template-columns: 1fr;
        grid-template-areas: 'input sort';
    }
}

.tools__search-container {
    grid-area: input;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tools__search-info {
    grid-area: input;
    font-size: 3rem;
    margin-right: 1rem;
    color: white;
    @include media-tablet {
        font-size: 2.5rem;
    }
}

.tools__icon-container {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.tools__search-icon {
    width: 100%;
    height: 100%;
    background-image: url(./assets/icons/search.svg);
    background-position: center;
    background-repeat: no-repeat;
}

.tools__input-search {
    position: relative;
    width: 60%;
    height: 4rem;
    display: flex;
}

.tools__search {
    width: 100%;
    font-size: 3rem;
    padding: 0 2rem;
    border: 1px solid #616161;
    border-radius: 1rem;
    box-sizing: border-box;
}

.tools__cross-button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-image: url(./assets/icons/crossForModal.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 0;
    background-color: transparent;
    right: 1rem;
    align-self: center;
}

.tools__sort-container {
    grid-area: sort;
    justify-self: center;
    align-self: center;
    width: 70%;
    height: 4rem;
}

.tools__sort {
    width: 100%;
    font-size: 3rem;
    padding: 0 1rem;
    border: 1px solid #616161;
    border-radius: 1rem;
    text-align: end;
    cursor: pointer;
}
